/* src/components/Story.css */

.story-container {
    display: flex;
    gap: 15px;
    overflow-x: auto;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70px;
    font-size: 12px;
}

.story img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

/* Story.css */
.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
}
.delete-button:hover {
    background-color: #ff1a1a;
}

