.app {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px; /* Sidebar width */
}

.main-content {
  display: flex;
  flex: 1;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  width: 100%;
  max-width: 900px; /* limit main content width */
}

.feed {
  flex: 2;
  margin: 20px;
  border-right: 1px solid #ddd;
}

.story-section {
  flex: 1;
  margin: 20px;
}
